/* ===== START YOUR CUSTOMIZATIONS HERE ===== */
.hero-title {
	text-shadow: 3px 3px #777;
}
.hero-sub {
	border-top: 1px dashed white;
	border-bottom: 1px dashed white;
	text-shadow: 3px 3px #777;
}
.white-hvr:hover{
	color:white;
}
.imager {
	height: 80px;
}
.huvr {
	color: white;
	text-decoration:none;
}
.huvr:hover{
	color: white;
	text-decoration:underline;
}
.font28-special {
	font-size: 28px;
}
.font32-special {
	font-size: 32px;
}
.fb-blue {
	color: #3B5998;
}
.twit-blue {
	color: #4099FF;
}
.pinterest-red {
	color: #C92228;
}
.plus-red {
	color: #D34836;
}
@media (max-width: 1200px) and (min-width: 992px){
	.font28-special {
		font-size: 24px;
	}
	.font32-special {
		font-size: 28px;
	}
}
#open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
@media (max-width: 992px){
	.center-it {
		margin-left: 35%;
	}
	.pad-it {
		padding-bottom: 15px;
	}
}